<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TitanSaaS</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/sb-admin-2.css">
</head>
<body>
<section id="header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">TitanSaaS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Product Entry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/client-entry">Client Entry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/client">Client Dashboard</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="button is-text" download="phil-linley-resume.pdf" href="@/assets/phil-linley-resume.pdf">Download Resume</a>
                    <a href="/pricing" class="btn btn-md btn-secondary btn-pricing-plan mr-3">Pricing Plan</a>
                </form>
            </div>
        </nav>