<%- include('includes/frontHeader.ejs') %>
<div class="row">
    <div class="col text-center">
        <h1 class="heroText">Who is Tethys For?</h1>
        <p class="lead text-center">
            Whether you’re a programmer, designer, freelancer or need Rocket for a whole team our pricing just
            makes sense.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-4 text-center">
        <div class="card shadow-soft bg-white border-light text-gray py-4 mb-5 mb-lg-0 p-5">
            <div class="icon-shape icon-shape-primary rounded-circle">
                <i class="fas fa-bullhorn fa-2x"></i>
            </div>
            <h4>Marketing</h4>
            <p>Reveal best strategies from the market and your competitors</p>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item d-flex px-0 pt-0 pb-2">
                        <div class="icon-sm icon-success mr-4">
                            <i class="far fa-check-circle"></i>
                        </div>
                        <div>Uncover the best SEO and content strategies</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="fourFeaturesHeadline">Meet out intuitive platform</h1>
            <h6>
                Self-Service Analytics or ad hoc reporting gives users the ability to develop rapid reports, empowering
                users to analyze their data.
            </h6>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="icon-shape icon-shape-primary rounded-circle">
                <i class="fas fa-chart-pie fa-3x"></i>
            </div>
            <h5>Analyze your data</h5>
            <p>Create custom reporting with ease</p>
        </div>
        <div class="col text-center">
            <div class="icon-shape icon-shape-primary rounded-circle">
                <i class="fas fa-shield-alt fa-3x"></i>
            </div>
            <h5>Analyze your data</h5>
            <p>Create custom reporting with ease</p>
        </div>
        <div class="col text-center">
            <div class="icon-shape icon-shape-primary rounded-circle">
                <i class="fas fa-rocket fa-3x"></i>
            </div>
            <h5>Features released regularly</h5>
            <p>Free New Features Regularly Released</p>
        </div>
        <div class="col text-center">
            <div class="icon-shape icon-shape-primary rounded-circle">
                <i class="fas fa-headset fa-3x"></i>
            </div>
            <h5>24/7 Support</h5>
            <p>Our support team is a quick chat or email away — 24 hours a day.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/img/saas-platform.png" alt="dashboard" class="img-fluid">
        </div>
    </div>
</div>
<div class="discovery">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h5 class="c-white">Customer service</h5>
                <h1 class="c-white">Discover amazing customer support</h1>
                <p class="c-white">Convert your emails into tickets and keep them all organized in one place. Never leave customers'
                    questions unanswered.</p>
                <a href="#" class="btn btn-md btn-secondary btn-pricing-plan">Pricing Plan</a>
            </div>
            <div class="col-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <i class="fas fa-hand-pointer fa-3x mb-4"></i>
                        <h5 class="font-weight-normal text-primary">Customer Service</h5>
                        <p>Discover amazing customer support</p>
                    </div>
                </div>
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <i class="fas fa-poll fa-3x mb-4"></i>
                        <h5 class="font-weight-normal text-primary">Real-Time Reporting</h5>
                        <p>Enjoy Real Time ROI Reporting</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4 mt-5">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <i class="fas fa-file-invoice-dollar fa-3x mb-4"></i>
                        <h5 class="font-weight-normal text-primary">Service to Sales</h5>
                        <p>Drive revenue and offset costs in engagement centers</p>
                    </div>
                </div>
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <i class="fab fa-discourse fa-3x mb-4"></i>
                        <h5 class="font-weight-normal text-primary">Make it Simple</h5>
                        <p>Drive revenue and offset costs in engagement centers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('includes/frontFooter.ejs') %>