<%- include('includes/header.ejs') %>

<form action="/client-entered" method="post" class="clientForm">

        <h1 class="clientLegend">Please Enter a New Client</h1>
        <div class="row">
            <div class="col-sm">
        <label for="clientType">Type:</label>
        <select name="type" id="clientType">
            <option value="">--Please choose an option--</option>
            <option value="inbound">Inbound</option>
            <option value="outbound">Outbound</option>
        </select>

        <p>
            <label for="com_name">Company Name:</label>
            <input type="text" name="com_name" id="com_name">
        </p>
        <p>
            <label for="fac_street">Facility Street:</label>
            <input type="text" name="fac_street" id="fac_street">
        </p>
        <p>
            <label for="fac_city">Facilty City:</label>
            <input type="text" name="fac_city" id="fac_city">
        </p>
        <p>
            <label for="fac_state">Facility State:</label>
            <input type="text" name="fac_state" id="fac_state">
        </p>
        <p>
            <label for="fac_zip">Facility Zip Code:</label>
            <input type="text" name="fac_zip" id="fac_zip">
        </p>
        <p>
            <label for="fac_phone">Facility Phone:</label>
            <input type="text" name="fac_phone" id="fac_phone">
        </p>
            </div>
            <div class="col-sm">
        <p>
            <label for="con_fname">Contact First Name:</label>
            <input type="text" name="con_fname" id="con_fname">
        </p>
        <p>
            <label for="con_lname">Contact Last Name:</label>
            <input type="text" name="con_lname" id="con_lname">
        </p>
        <p>
            <label for="con_email">Contact Email:</label>
            <input type="text" name="con_email" id="con_email">
        </p>
        <p>
            <label for="con_phone">Contact Phone:</label>
            <input type="text" name="con_phone" id="con_phone">
        </p>
            </div>
        </div>
    <div class="text-center clientButton"><button type="submit">Submit</button></div>
</form>
<style>

</style>
<%- include('includes/footer.ejs') %>