<%- include('includes/frontHeader.ejs') %>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 text-center">
                <h1 class="heroText">Stress-Free Data Disposal Management</h1>
                <p class="lead">
                    Proof of Concept for the Electronics Recycling industry's IT Asset Management Software as a Service.  Better
                    cage management for a data-leak-free tomorrow.
                </p>
                <a href="/pricing" class="btn btn-md btn-secondary btn-pricing-plan mr-3">Pricing Plan</a>
                <a href="/demo" class="btn btn-white text-primary ml-3">Quick Demo</a>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col">
                <img src="/img/laptop-mockup.png" alt="laptop" class="img-fluid laptopPic">
            </div>
        </div>
    </div>
</section>
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col text-center fourFeatures">
                <h1>Meet out intuitive platform</h1>
                <h6>
                    Self-Service Analytics or ad hoc reporting gives users the ability to develop rapid reports, empowering
                    users to analyze their data.
                </h6>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="icon-shape icon-shape-primary rounded-circle">
                    <i class="fas fa-chart-pie fa-3x"></i>
                </div>
                <h5>Analyze your data</h5>
                <p>Create custom reporting with ease</p>
            </div>
            <div class="col text-center">
                <div class="icon-shape icon-shape-primary rounded-circle">
                    <i class="fas fa-shield-alt fa-3x"></i>
                </div>
                <h5>Analyze your data</h5>
                <p>Create custom reporting with ease</p>
            </div>
            <div class="col text-center">
                <div class="icon-shape icon-shape-primary rounded-circle">
                    <i class="fas fa-rocket fa-3x"></i>
                </div>
                <h5>Features released regularly</h5>
                <p>Free New Features Regularly Released</p>
            </div>
            <div class="col text-center">
                <div class="icon-shape icon-shape-primary rounded-circle">
                    <i class="fas fa-headset fa-3x"></i>
                </div>
                <h5>24/7 Support</h5>
                <p>Our support team is a quick chat or email away — 24 hours a day.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="/img/saas-platform.png" alt="dashboard" class="img-fluid dashboard">
            </div>
        </div>
    </div>
</section>
<section class="discovery fourServices">
    <div class="container">
        <div class="row">
            <div class="col-6 service">
                <h5>Customer service</h5>
                <h1>Discover amazing customer support</h1>
                <p>Convert your emails into tickets and keep them all organized in one place. Never leave customers'
                    questions unanswered.</p>
                <a href="/pricing" class="btn btn-md btn-secondary btn-pricing-plan">Pricing Plan</a>
            </div>
            <div class="col-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <i class="fas fa-hand-pointer fa-3x mb-4"></i>
                        <h5 class="font-weight-normal text-primary">Customer Service</h5>
                        <p>Discover amazing customer support</p>
                    </div>
                </div>
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <i class="fas fa-poll fa-3x mb-4"></i>
                        <h5 class="font-weight-normal text-primary">Real-Time Reporting</h5>
                        <p>Enjoy Real Time ROI Reporting</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4 mt-5">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <i class="fas fa-file-invoice-dollar fa-3x mb-4"></i>
                        <h5 class="font-weight-normal text-primary">Service to Sales</h5>
                        <p>Drive revenue and offset costs in engagement centers</p>
                    </div>
                </div>
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <i class="fab fa-discourse fa-3x mb-4"></i>
                        <h5 class="font-weight-normal text-primary">Make it Simple</h5>
                        <p>Drive revenue and offset costs in engagement centers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('includes/frontFooter.ejs') %>