<%- include('includes/header.ejs') %>
<h1>Kroger Dashboard</h1>

<div id="dataDump"></div>


<script>
    let dataDump = document.getElementById("dataDump");

    const ourRequest = new XMLHttpRequest();
    ourRequest.open('GET', 'http://localhost:3000/test');
    ourRequest.onload = function () {
        const ourData = JSON.parse(ourRequest.responseText);
        console.log(ourData[0]);
        renderHTML(ourData);
    };
    ourRequest.send();

function renderHTML(data) {
    let htmlString = "this is a test"
    dataDump.insertAdjacentHTML('beforeend', htmlString);
};


</script>
<%- include('includes/footer.ejs') %>