<%- include('includes/header.ejs') %>
<h1>Kroger Dashboard</h1>

<div class="row">
    <div class="col-sm">
        <table id="CountByMan"></table>
    </div>
</div>


<script>
    let dataDump = document.getElementById("dataDump");

    const ourRequest = new XMLHttpRequest();
    ourRequest.open('GET', 'http://localhost:3000/dashboardapi');


    ourRequest.onload = function () {
        const ourData = JSON.parse(ourRequest.responseText);
        console.log(ourData[0][0].manufacturer);
        console.log(ourData[0][0].CountByMan);
        //renderHTML(ourData);
    };











    ourRequest.send();
</script>
<%- include('includes/footer.ejs') %>